<p-toast></p-toast>
<div class="grid" *ngIf="author">
  <div class="col-10 col-offset-1">
    <p-card>
      <ng-template pTemplate="title">
        <div class="flex justify-content-between flex-wrap">
          <div class="flex align-items-center justify-content-center m-2">Genre-list</div>
          <div class="flex align-items-center justify-content-center w-10rem h-4rem  m-2">
            <p-button routerLink="/book-list" icon="pi pi-home" class="button-top" [rounded]="true"></p-button>
          </div>
        </div>
      </ng-template>
      <p-table
        [value]="author"
        stripedRows
        showGridlines
        [tableStyle]="{'min-width': '50rem'}">
        <ng-template #header>
          <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Delete</th>
          </tr>
        </ng-template>
        <ng-template #body let-author>
          <tr>
            <td>{{author.id}}</td>
            <td>{{author.fullName}}</td>
            <td>
              <p-button icon="pi pi-trash" (click)="delete(author)" severity="secondary" rounded/>
            </td>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
