<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all persons</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        h3 {
            padding: 2px;
            padding-left: 30px;
        }

    </style>

    <style type="text/css" th:inline="text">
        [[h3]] {
            padding: 2px;
            padding-left: 30px;
        }

    </style>
</head>
<body>
    <h3>Exception(</h3>
    <span th:text="${errorText}">Error text</span>
    <a th:href="@{/}">Books</a>
</body>
</html>
